/*
Tutorial Part 06
  source code from :
  https://docs.djangoproject.com/en/6.0/intro/tutorial06/
  
Customize your app’s look and feel

polls/static/polls/style.css
polls/static/polls/images/background.jpg):

*/
li a {
    color:green;
}

body{
    background: white url("images/background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}